body {
    font-family: Inconsolata, monospace;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Inconsolata, monospace;
    font-weight: 800;

    color: white;
}

a, a:visited {
    color: white;
}

#page-title {
    background-color: #1b1e21;

    padding: 20px 15%;

    /* border-bottom: 2pt solid #171717;

    box-shadow: 0 5px 20px gray; */
}

#content {
    margin: 0;

    padding: 0 0 20px 0;

    font-size: 1.1em;

    min-height: 75%;

    background-color: #2c3136;
    color: white;
}

.item {
    padding: 30px 15%;
}

.item h3 {
    margin: 0;
}
.item p {
    margin: 8px 0;
}


.item .item-footer {
    margin: 10px 0 0 0;

    font-size: 0.7em;
}

.item-links {
    font-size: 0.85em;
    text-decoration: none;
}

.alt {
    background-color: #343a40;
}




/* mobile overwrites */

@media only screen and (max-width: 800px) {
    #page-title {
        padding: 20px 20pt;
    }

    .item {
        padding: 10px 20pt;
    }
}