<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Home{% endblock %}</title>

    <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Heebo:800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700" rel="stylesheet">

    <meta name="keywords" content="instagram,gram,topnine,top nine,newyear,new year,2019,2018">
    <meta name="author" content="Patrick Dill">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/css/base.css?v=2">

    {% if analytics %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ analytics }}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }

            gtag('js', new Date());

            gtag('config', '{{ analytics }}');
        </script>

    {% endif %}

    {% block head %}{% endblock %}
</head>
<body>

<div id="top">
    <a href="/">bottom nine</a>
</div>

{% block precontent %}{% endblock %}

<div id="content">
    {% block content %}{% endblock %}
</div>

<footer>
    <p><a href="http://twitter.com/paricdil/">http://twitter.com/paricdil/</a></p>
    <p>Copyright (c) 2019 Patrick Dill</p>
</footer>

</body>
</html>