{% extends "base.html" %}

{% block title %}Bottom Nine{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/css/bottom_nine.css?v=2">


    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>

    <script>
        function gridProgress(username) {
            let progressBarUpdate = setInterval(function () {
                let progress = "0%";

                $.get("/progress/" + username).done(function (data) {
                    console.log(data);

                    progress = data.progress;

                    $("#progressbar").html(progress).css("width", progress);

                    if (progress === "100.0%") {
                        clearInterval(progressBarUpdate);

                        afterScanned(username);  // next step
                    }
                });
            }, 3000);
        }

        function afterScanned(username) {
            $.post("/makegrid/" + username).done(function (data) {
                console.log(data);

                $("#scanningPosts").remove();

                $("#whileWeWait").html("Generating grid...");

                let getImage = setInterval(function () {
                    $.get("/cdn/" + username).done(function (data) {
                        console.log(data);

                        if (data.exists) {
                            clearInterval(getImage);

                            afterImage(data)
                        }
                    });
                }, 2000)

            }).fail(function (err) {
                console.log(err);
            });

        }

        function afterImage(data) {
            $("#grid").html(`<img id="posts" src="${data.url}">`)

            $("#whileWeWait").remove();
        }

        $(document).ready(function () {
            let startButton = $("#start");
            let usernameInput = $("#username");
            let inputDiv = $("#userinput");

            let checkingAlready = false;

            usernameInput.keyup(function (e) {
                if (e.keyCode === 13) {
                    startButton.trigger("click");
                }
            });

            startButton.click(function () {
                if (checkingAlready) {
                    return;
                }

                checkingAlready = true;

                console.log("clicked");

                usernameInput.attr("disabled", true);

                let username = usernameInput.val();

                $.get("/top/" + username).done(function (data) {
                    console.log(data);

                    let code = data.message;
                    let err = "";

                    if (code === "404") {
                        err = "User does not exist."
                    } else if (code === "PRV") {
                        err = `${username} is private. Try making the account public.`
                    }

                    console.log(err);

                    $("#usererr").html(err);

                    if (!err) {
                        gridProgress(username);

                        $("#userinput").addClass("hidden");
                        $("#scanning").removeClass("hidden");
                    }
                }).fail(function (err) {
                    console.log(err);

                    $("#usererr").val(err);
                }).always(function () {
                    usernameInput.attr("disabled", false);
                    checkingAlready = false;
                });
            });
        })
    </script>
{% endblock %}

{% block precontent %}

    <div id="heading">
        <h1>2018 was great, right?</h1>
    </div>

{% endblock %}

{% block content %}

    <p><b>In fact,</b> 2018 went so well, I think it's important to look back on where you
        started.</p>

    <p>The sad reality of living here on planet Earth is that sometimes, people really
        don't care. And no, I'm not talking about the huge social media addicted population that claims
        to care about world issues and the betterment of society despite the fact that they do nothing
        to make a difference.</p>

    <p>I'm talking about you and your precious Instagram posts! Let's look at some of your
        least liked posts of the year.</p>


    <div id="userinput">
        <input type="text" id="username" class="input" placeholder="username">
        <input type="button" id="start" class="button" value="go">

        <p class="err" id="usererr"></p>
    </div>

    <div id="scanning" class="hidden">
        <p id="scanningPosts">(may take a few seconds to start)</p>

        <div class="progress">
            <div class="bar" id="progressbar">0.0%</div>
        </div>

        <p id="whileWeWait">While we wait, how does it feel having your data searched through? Fun fact:
            over 90% of the websites you visit do it all the time! At least I'm nice enough
            to tell you.</p>
    </div>

    <div id="grid">

    </div>




{% endblock %}
