{% extends "base.html" %}

{% block title %}Patrick Dill{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/css/list_page.css?v=5">

{% endblock %}


{% block precontent %}

    <div id="page-title">
        <h1>Patrick Dill</h1>
    </div>

{% endblock %}


{% block content %}

    <article class="item alt">
        <h3><a href="/bottom-nine/">Bottom Nine</a></h3>
        <p>See your least liked Instagram posts of 2018.</p>

        <p class="item-footer">January 2019</p>

    </article>


{% endblock %}
