{% extends "base.html" %}

{% block title %}Bottom Nine{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/css/front_page.css?v=3">

{% endblock %}


{% block precontent %}

    <div id="page-title">
        <h1>Patrick Dill</h1>
    </div>

{% endblock %}


{% block content %}

    <article class="item alt">
        <h3><a href="/bottom-nine/">Bottom Nine</a></h3>
        <p>See your least liked Instagram posts of 2018.</p>

        <p class="item-footer">1/1/2019</p>

    </article>


{% endblock %}
